.App {
  display: flex;
  justify-content: space-around;
}
body {
  background-color: #B9F8D3;
}
.block {
  padding: 20px;
  background-color: #40DFEF;
}
img {
  width: 400px;
  height: 320px;
}
.cartIcon {
  width: 35px;
  height: 35px;
  color: #E78EA9;
}
.categoryButtonSelected {
  background-color: #40DFEF;
}
.categoryButton :hover {
  background-color: #40DFEF;
}
.categoryButton {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
.icon {
  width: 20px;
}